<div class="d-flex justify-content-center align-items-center">
    Hi! If this is your first time on Rarelygroovy you're probably wondering what all this is. No worries, this page will help you get up to speed with what this website is trying to accomplish<br><br>
    Q. What is Rarelygroovy?<br>
    A. The is idea is relatively simple. We take the valley's local music shows (from Mission to Brownsville) and list them for your viewing pleasure. We focus mainly on the valley's alternative music scene, but occasionally will branch into different types of music/shows<br><br>

    Q. Do I need to pay to use Rarelygroovy?<br>
    A. No. Rarelygroovy is free to use. No sign up required and no strings attached. THAT SAID.. we offer extra content and features in the form of Rarelygroovy+ (our paid subcription service). You can think of Rarelygroovy+ as the "full" version of the website<br><br>

    Q. What is the extra content and features offered in Rarelygroovy+?<br>
    A. This question is better explained in video format. Here's a short YouTube video explaining the ins and outs of what Rarelygroovy+ has to offer<br><br>

    Q. What is your pricing for Rarelygroovy+?<br>
    A. $1.99 per month (recurs monthly until subscription is cancelled)<br><br>

    Q. How do I pay for Rarelygroovy+?<br>
    A. We've tried to make it convenient and easy to set up payments in Rarelygroovy. This page contains a payment form that you can fill out to purchase your Rarelygroovy+ subscription. Just keep in mind you'd need to create an account and sign in before being shown the payment form.<br>
    That said, it's understandable to feel weary about online transactions especially when done on a newly established, relatively obscure website (i.e., us lol). To help establish credibility, you may also find us vending at local shows from time to time in which you can meet us in person. Here, we can accept cash payments so you can avoid having to transact online if you so wish. We'll announce where we'll be vending through our Instagram page. So keep on eye on that if you'd like to plan out a trip to meet us
</div>

