<div class="d-flex justify-content-center align-items-center" style="margin-top: 20px">
    <p-panel header="Frequently Asked Questions (FAQ)">
        Hi! If this is your first time on Rarelygroovy you're probably wondering what all this is. No worries, this page will help you get up to speed with what this website is trying to accomplish<br><br>
        <b>Q. What is Rarelygroovy?</b><br>
        A. Rarelygroovy is a website with one goal in mind: take the valley's local music shows and list them for your viewing pleasure. It focuses mainly on the valley's alternative music scene, but occasionally will branch into different types of music/shows. Rarelygroovy provides coverage from Mission to Brownsville and everything in between<br><br>
    
        <b>Q. Do I need to pay to use Rarelygroovy?</b><br>
        A. No. Rarelygroovy is free to use. No sign up required. That said, we offer extra content and extra features in the form of Rarelygroovy+ (our paid subcription service). You can think of Rarelygroovy+ as the "full" version of the website<br><br>
    
        <b>Q. What is the extra content and features offered in Rarelygroovy+?</b><br>
        A. This question is better explained in video format. Here's a short YouTube video explaining the ins and outs of what Rarelygroovy+ has to offer<br><br>
    
        <b>Q. What is the pricing for Rarelygroovy+?</b><br>
        A. $1.99 per month (recurs monthly until subscription is cancelled)<br><br>
    
        <b>Q. How do I pay for Rarelygroovy+?</b><br>
        <p>A. We've tried to make it convenient and easy to set up payments in Rarelygroovy, so we've taken the time to develop a built-in payment form that you can use to subscribe to Rarelygroovy+. You can see it here. Just keep in mind you'd need to create an account and sign in before being shown the payment form.</p>
        <p>That said, it is 100% understandable to feel cautious about online transactions especially when done on a newly established, relatively obscure website (i.e., us lol). To help establish credibility, you may also find us vending at local shows from time to time in which you can meet us in person. Here, we'll accept cash payments so you avoid having to transact online. Obviously, your subsciption won't automatically renew in this case, so there's the added benefit of not tying your card/paypal/cashapp to our service. We'll announce where we'll be vending ahead of time through our Instagram page. So keep on eye out if you'd like to plan out a trip to meet us :3</p>
    </p-panel>
</div>

