<div class="back-arrow">
  <p-button type="button" (click)="goBack()" icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-lg p-button-text"></p-button>
</div>


<div *ngIf="enmEvent$ | async as enmEvent" class="container-sm d-flex flex-column justify-content-center align-items-center" style="margin-top: 50px">
  <h2 style="color: #7b95af;">Links</h2>
  <p-card header="" styleClass="text-center">
    <ng-container *ngIf="enmEvent.venue.link && enmEvent.venue.link !== 'pending'; else venueName">
      <h1 class="card-text">
        <a href="{{ enmEvent.venue.link }}" target="_blank" rel="noopener noreferrer" class="m-0">{{ enmEvent.venue.name }}</a>
      </h1>
    </ng-container>
    <ng-template #venueName>
      <h1 class="card-text artist-name-non-clickable">{{ enmEvent.venue.name }}</h1>
    </ng-template>

    <div class="m-0 lh-lg artists artist-name">
      <ng-container *ngFor="let artist of enmEvent.artists; let i = index;">
        <ng-container *ngIf="artist.link && artist.link !== 'pending'; else artistName">
          <a href="{{ artist.link }}" target="_blank" rel="noopener noreferrer">{{ artist.name }}</a>
        </ng-container>
        <ng-template #artistName>
          <span class="artist-name-non-clickable">{{ artist.name }}</span>
        </ng-template>
        <!-- Add separator for all but the last artist -->
        <span *ngIf="i < enmEvent.artists.length - 1">&nbsp;&nbsp;&nbsp; &middot; &nbsp;&nbsp;&nbsp;</span>
      </ng-container>
    </div>

    <div *ngIf="enmEvent.promoter">
      <div class="custom-divider">
        <p-divider></p-divider>
      </div>
      <ng-container *ngIf="enmEvent.promoter.link && enmEvent.promoter.link !== 'pending'; else promoterName">
        <h6 class="card-text promoter">
          <a href="{{ enmEvent.promoter.link }}" target="_blank" rel="noopener noreferrer" class="m-0 promoter">{{ enmEvent.promoter.name }}</a>
        </h6>
      </ng-container>
      <ng-template #promoterName>
        <h6 class="card-text artist-name-non-clickable promoter">{{ enmEvent.promoter.name }}</h6>
      </ng-template>
    </div>
    <br>
    <div class="[TIME DATE AND COVER] time-date-cover flex align-items-center gap-3">
      <span class="flex align-items-center gap-2">
        <span class="font-semibold">
          {{ enmEvent.dateTime | dateTimeToTime }} &middot;
          {{ enmEvent.dateTime | dateTimeToWordifiedMonth }} {{ enmEvent.dateTime | dateTimeToDay }}
          <!-- synonyms -->
          <span *ngIf="enmEvent.priceOfEntry >= 0">&middot; {{ enmEvent.priceOfEntry | wordifiedCover }}</span>
          <span *ngIf="enmEvent.cover >= 0">&middot; {{ enmEvent.cover | wordifiedCover }}</span>
        </span>
      </span>
    </div>
    <div class="[ADDRESS] address flex align-items-center gap-3">
      <span class="flex align-items-center gap-2">
        <span class="font-semibold">
          <!-- synonyms -->
          <span class="card-text" *ngIf="enmEvent.address && enmEvent.city">{{ enmEvent.address }}, {{ enmEvent.city }}</span>
          <span class="card-text" *ngIf="enmEvent.venue">{{ enmEvent.venue.address }}, {{ enmEvent.venue.city }}</span>
          <!---->
        </span>
      </span>
    </div>
  </p-card>
  <div class="disclaimer-section">
    <div class="disclaimer d-flex justify-content-center align-items-center">* Start time might vary</div>  
  </div>
</div>
