a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #7254f3;
}

.back-arrow {
    position: absolute;
    left: 10px;
    top: 10px;
}

.artists {
    padding-top: 20px
}

.artist-name {
    font-size: 1.25rem;
  }
  

.cover {
    padding-top: 20px;
}