<div class="back-arrow">
  <p-button type="button" (click)="goBack()" icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-lg p-button-text"></p-button>
</div>

<div *ngIf="enmEvent$ | async as enmEvent" class="container-sm d-flex flex-column justify-content-center align-items-center" style="height: 85vh;">
  <p-card header="" styleClass="text-center">
    <h5 *ngIf="enmEvent.venue.link" class="card-text"><a href="{{enmEvent.venue.link}}" class="m-0">{{enmEvent.venue.name}}</a></h5>
    <h5 *ngIf="!enmEvent.venue.link" class="m-0">{{enmEvent.venue.name}}</h5>
    <h5 class="m-0 lh-lg" [innerHTML]="enmEvent.artists.join('&nbsp;&nbsp;&nbsp; &middot; &nbsp;&nbsp;&nbsp;')"></h5>
    <p class="m-0">${{enmEvent.cover}}</p>
    <p class="m-0">{{ enmEvent.dateTime | dateTimeToTime }}, {{ enmEvent.dateTime | dateTimeToWordifiedMonth }} {{ enmEvent.dateTime | dateTimeToDay }}</p>
  </p-card>
</div>
