a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #7254f3;
}

.back-arrow {
    margin-top: 10px
}

.artist-name {
    font-size: 1.25rem;
    line-height: 1;
}



.cover {
    padding-top: 20px;
}

.disclaimer-section {
    font-size: .9em;
    margin: 20px 0;
    color: rgb(162, 162, 162)
}

.custom-divider {
    display: flex;
    justify-content: center;
}

.promoter {
    font-size: 1.05rem;
}

.time-date-cover {
    font-size: 1.05rem;
}

.address {
    font-size: 1.05rem;
}

.clickable-address {
    cursor: pointer;
}

.doortime {
    color: #7b95af;
    font-size: .9em;
}

/* Positioning the tag to the right */
.recently-listed-badge {
    margin-bottom: 25px;
}

.artist-container {
    display: inline-flex; /* this will keep the contents in line */
    align-items: center; /* this centers them vertically */
    white-space: nowrap; /* prevents wrapping onto new lines */
}

.updates-section {
    color: #043d75
}

.updates-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
  
  

.no-updates {
    color: #043d75
}

.tags {
    margin-top: 15px;
}

.artist-name {
font-size: 1.25rem;
line-height: 1;
}

.social-icon i {
font-size: 1.5em; /* Increases the icon size */
margin: 15px;
align-items: center;
}

.social-links {
margin-left: 5px;
}

a .note-links {
color: red !important;
text-decoration: none !important; /* This removes the underline */
}