a {
    text-decoration: underline;
    color: inherit;
}
a:hover {
    color: #7254f3;
}

.back-arrow {
    margin-top: 10px
}

.artist-name {
    font-size: 1.25rem;
    line-height: 1;
}

.artist-name-non-clickable {
    color: #7b95af;
}

.cover {
    padding-top: 20px;
}

.disclaimer-section {
    font-size: .9em;
    margin: 20px 0;
    color: rgb(162, 162, 162)
}

.custom-divider {
    display: flex;
    justify-content: center;
}

.promoter {
    font-size: 1.05rem;
}

.time-date-cover {
    font-size: 1.05rem;
}

.address {
    font-size: 1.05rem;
}

.clickable-address {
    cursor: pointer;
}

.doortime {
    color: #7b95af;
    font-size: .9em;
}

/* Parent container needs relative positioning */
.event-details {
    position: relative;
    /* Other styles... */
}
  
/* Positioning the tag to the right */
.recently-listed-badge {
position: absolute;
right: 10px;      /* Align to the right */
top: 10px;        /* Adjust if you want to change vertical positioning */
/* Any additional styling for the tag container */
}