<div class="container-sm" style="padding: 5px 0px ">
    <p-panel header="Privacy Policy of Rarelygroovy">
        <p>Last Updated: Wednesday, January 3rd, 9:22pm</p>
        <p>Your privacy is important to us. The following describes what information we collect about you and how we use this information to provide our services. We hope you'll find it brief as, ...well, we've made a concerted effort to collect as little information about you as possible in order to preserve your privacy and agency when using our service</p>
        <div>
            <h2>1. Information We Collect About You</h2>
            <p>Our service is available to you with or without a Rarelygroovy account.</p>
            <p>If you are using our service without an account we do not collect any information about you.</p>
            <p>If you decide to create a account we'll ask you for 2 bits of information: a username and a password</p>
            <ul>
                <li>
                    Username - we use this to keep track of who you are. If you've subscribed to Rarelygroovy+, we'll associate that subscription to your username.
                </li>
                <li>
                    Password - you use this to log in to your account. We cryptographically hash your password before storing it on our system. We will <span style="text-decoration: underline;">never</span> store you password in plain text
                </li>
            </ul>
            <p>We do not ask for your email, name, birthday, phone number, etc, when creating an account. You'll remain fairly anonymous to Rarelygroovy's system. This is done with your privacy in mind</p>
        </div>
        <div>
            <h2>2. Information Stripe Collects About You</h2>
            <p>This section applies to you only if you are interested in subscribing or have already subscribed to Rarelygroovy+, our paid service</p>
            <p>We've partnered with Stripe to provide us with payment processing. They are one of the global leaders in the payment processing industry. Check them out here: <a href="https://stripe.com">Stripe</a></p>
            <p>Although we, Rarelygroovy, collect very little information about you, Stripe requires more information in order to process your subscription. You'll have to provide your name, email, phone number, credit card information, and ZIP code at checkout</p>
            <p>Please see their Terms Of Service and Privacy Policy as you'll be subject to those as well: <a href="https://stripe.com/legal/consumer">Stripe's Terms Of Service</a>, <a href="https://stripe.com/privacy">Stripe's Privacy Policy</a></p>
        </div>
        <div>
            <h2>3. Updates To Privacy Policy</h2>
            <p>Although we don't expect significant changes in the foreseeable future, Rarelygroovy reserves the right, at our discretion, to modify this Privacy Policy at any time. Any changes will be effective immediately upon posting. Your continued use of the service after changes signifies your acceptance of the revised terms.</p>
        </div>
    </p-panel>
</div>
