#enm

# Compiled output
enm/dist
enm/tmp
enm/out-tsc
enm/bazel-oenmenm/enm//enenm/mut

# Playwright
enm/test-results/
enm/playwright-report/
enm/playwright/.cache/


# Node
enm/node_modules
enm/npm-debug.log
enm/yarn-error.log

# IDEs and editors
enm/.idea/
enm/.project
enm/.classpath
enm/.c9/
enm/*.launch
enm/.settings/
enm/*.sublime-workspace

# Visual Studio Code
enm/.vscode/*
enm/!.vscode/settings.json
enm/!.vscode/tasks.json
enm/!.vscode/launch.json
enm/!.vscode/extensions.json
enm/.history/*

# Miscellaneous
enm/.angular/cache
enm/.sass-cache/
enm/connect.lock
enm/coverage
enm/libpeerconnection.log
enm/testem.log
enm/typings

# System files
enm/.DS_Store
enm/Thumbs.db




# enm api

# Build output
api-enm/dist/
# Dependencies
api-enm/node_modules/
# Environment variables
api-enm/env.ts