/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
    font-family: var(--font-family);
}

.p-toast {
    opacity: .95;
}

mark {
    background-color: #7254f3; /* Your chosen hex color */
    opacity: .75;
    color: white; /* Choose a text color that ensures readability */
}

.note-links {
    color: #49729b !important;
}
.note-links:hover {
    color: #7254f3 !important;
}

.p-scroller-viewport {
    flex: none;
}

.p-horizontal-scroll .p-scroller-content {
    display: flex;
    flex-direction: row;
}