<app-enm-event-list-toolbar></app-enm-event-list-toolbar>

<div class="container-fluid">
  <div *ngFor="let date of (groupedByDateEnmEventList$ | async | keyvalue)" style="margin-top: 20px">
    <h5>{{date.key | wordifiedDateKey }}</h5>
    <!-- date.value resolves to EnmEvent[] -->
    <div *ngFor="let enmEvent of date.value" class="card event-card" style="margin-top: 5px">
        <div class="card-body">
          <h5 class="card-title">{{enmEvent.name}}</h5>
          <p class="card-text">
            <!-- 2400 indicates military time. 2401 is a flag used at the db level to indicate startTime was not provided -->
            <span *ngIf="enmEvent.startTime < 2400">{{enmEvent.startTime | standardTime }} | </span>
            {{enmEvent.month | wordifiedMonth }} {{enmEvent.day}} 
            <span *ngIf="enmEvent.priceOfEntry >= 0">| {{enmEvent.priceOfEntry | wordifiedPriceOfEntry}}</span>
          </p>
          <p class="card-text">{{enmEvent.address}}, {{enmEvent.city}}</p>
        </div>
    </div>
  </div>
</div>

