<app-enm-event-list-toolbar></app-enm-event-list-toolbar>

<div *ngIf="listLoading$ | async" class="d-flex justify-content-center align-items-center" style="height: 85vh;">
  <p-progressSpinner styleClass= "w-4rem h-4rem" strokeWidth="2" fill="var(--surface-ground)" class="custom-spinner"></p-progressSpinner>
</div>

<div *ngIf="!(listLoading$ | async)" class="container-sm  text-center">
  <div *ngFor="let date of (groupedByDateEnmEventList$ | async | keyvalue)" style="margin-top: 20px">
    <h2 class="datekey">{{ date.key | wordifiedDateKey }}</h2>
    <div class="card">
      <p-dataView #dv [value]="date.value">
        <!-- user logged in -->
        <ng-container *ngIf="user$ | async as user">
          <!-- plus user, has routerLink activated. should have access to event detail page -->
          <ng-template *ngIf="user?.plus" let-enmEvent pTemplate="listItem">
            <div class="col-12">
  
              <!-- HERE'S THE VISIBLE CONTENT -->
  
              <a [routerLink]="['/events', enmEvent._id]" (click)="onEnmEventListSelection(enmEvent._id)" class="event-card-link .event-card-link" href="/">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <h1 *ngIf="enmEvent.venue" class="text-2xl font-bold text-900">{{ enmEvent.venue.name }} <br><br></h1>
                      <div class="m-0 lh-lg artists artist-name">
                        <ng-container *ngFor="let artist of enmEvent.artists; let i = index;">
                          <span class="artist-name">{{ artist.name }}</span>
                          <span *ngIf="i < enmEvent.artists.length - 1">&nbsp;&nbsp;&nbsp; &middot; &nbsp;&nbsp;&nbsp;</span>
                        </ng-container>
                      </div>
                      <div *ngIf="enmEvent.promoter">
                        <div class="custom-divider">
                          <p-divider></p-divider>
                        </div>
                        <h6 class="card-text">{{ enmEvent.promoter.name }}</h6>
                      </div>
                      <br>
                      <div class="[TIME DATE AND COVER] flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">
                            {{ enmEvent.dateTime | dateTimeToTime }} &middot;
                            {{ enmEvent.dateTime | dateTimeToWordifiedMonth }} {{ enmEvent.dateTime | dateTimeToDay }}
                            <!-- synonyms -->
                            <span *ngIf="enmEvent.priceOfEntry >= 0">&middot; {{ enmEvent.priceOfEntry | wordifiedCover }}</span>
                            <span *ngIf="enmEvent.cover >= 0">&middot; {{ enmEvent.cover | wordifiedCover }}</span>
                          </span>
                        </span>
                      </div>
  
                      <div class="[ADDRESS] flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">
                            <!-- synonyms -->
                            <span class="card-text" *ngIf="enmEvent.address && enmEvent.city">{{ enmEvent.address }}, {{ enmEvent.city }}</span>
                            <span class="card-text" *ngIf="enmEvent.venue">{{ enmEvent.venue.address }}, {{ enmEvent.venue.city }}</span>
                            <!---->
                          </span>
                        </span>
                      </div>
  
                    </div>
                  </div>
                </div>
              </a>
  
  
  
  
  
  
            </div>
          </ng-template>
          <!-- non-plus user. should not have routerLink activated. should not have event detail page available -->
          <ng-template *ngIf="!(user?.plus)" let-enmEvent pTemplate="listItem">
            <div class="col-12">
  
              <!-- HERE'S THE VISIBLE CONTENT -->
  
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <h1 *ngIf="enmEvent.venue" class="text-2xl font-bold text-900">{{ enmEvent.venue.name }}</h1><br>
                      <div class="m-0 lh-lg artists artist-name">
                        <ng-container *ngFor="let artist of enmEvent.artists; let i = index;">
                          <span class="artist-name">{{ artist.name }}</span>
                          <span *ngIf="i < enmEvent.artists.length - 1">&nbsp;&nbsp;&nbsp; &middot; &nbsp;&nbsp;&nbsp;</span>
                        </ng-container>
                      </div>
                      <div *ngIf="enmEvent.promoter">
                        <div class="custom-divider">
                          <p-divider></p-divider>
                        </div>
                        <h6 class="card-text">{{ enmEvent.promoter.name }}</h6>
                      </div>
                      <br>
                      <div class="[TIME DATE AND COVER] flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">
                            {{ enmEvent.dateTime | dateTimeToTime }} &middot;
                            {{ enmEvent.dateTime | dateTimeToWordifiedMonth }} {{ enmEvent.dateTime | dateTimeToDay }}
                            <!-- synonyms -->
                            <span *ngIf="enmEvent.priceOfEntry >= 0">&middot; {{ enmEvent.priceOfEntry | wordifiedCover }}</span>
                            <span *ngIf="enmEvent.cover >= 0">&middot; {{ enmEvent.cover | wordifiedCover }}</span>
                          </span>
                        </span>
                      </div>
  
                      <div class="[ADDRESS] flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">
                            <!-- synonyms -->
                            <span class="card-text" *ngIf="enmEvent.address && enmEvent.city">{{ enmEvent.address }}, {{ enmEvent.city }}</span>
                            <span class="card-text" *ngIf="enmEvent.venue">{{ enmEvent.venue.address }}, {{ enmEvent.venue.city }}</span>
                            <!---->
                          </span>
                        </span>
                      </div>
  
                    </div>
                  </div>
                </div>
  
  
  
  
  
  
            </div>
          </ng-template>
        </ng-container>
        <!-- no user logged in. should not have routerLink activated. should not have event detail page available -->
        <ng-container *ngIf="(user$ | async) === null">
          <ng-template let-enmEvent pTemplate="listItem">
            <div class="col-12">
  
              <!-- HERE'S THE VISIBLE CONTENT -->
  
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                  <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <h1 *ngIf="enmEvent.venue" class="text-2xl font-bold text-900">{{ enmEvent.venue.name }}</h1><br>
                      <div class="m-0 lh-lg artists artist-name">
                        <ng-container *ngFor="let artist of enmEvent.artists; let i = index;">
                          <span class="artist-name">{{ artist.name }}</span>
                          <span *ngIf="i < enmEvent.artists.length - 1">&nbsp;&nbsp;&nbsp; &middot; &nbsp;&nbsp;&nbsp;</span>
                        </ng-container>
                      </div>
                      <div *ngIf="enmEvent.promoter">
                        <div class="custom-divider">
                          <p-divider></p-divider>
                        </div>
                        <h6 class="card-text">{{ enmEvent.promoter.name }}</h6>
                      </div>
                      <br>
                      <div class="[TIME DATE AND COVER] flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">
                            {{ enmEvent.dateTime | dateTimeToTime }} &middot;
                            {{ enmEvent.dateTime | dateTimeToWordifiedMonth }} {{ enmEvent.dateTime | dateTimeToDay }}
                            <!-- synonyms -->
                            <span *ngIf="enmEvent.priceOfEntry >= 0">&middot; {{ enmEvent.priceOfEntry | wordifiedCover }}</span>
                            <span *ngIf="enmEvent.cover >= 0">&middot; {{ enmEvent.cover | wordifiedCover }}</span>
                          </span>
                        </span>
                      </div>
  
                      <div class="[ADDRESS] flex align-items-center gap-3">
                        <span class="flex align-items-center gap-2">
                          <span class="font-semibold">
                            <!-- synonyms -->
                            <span class="card-text" *ngIf="enmEvent.address && enmEvent.city">{{ enmEvent.address }}, {{ enmEvent.city }}</span>
                            <span class="card-text" *ngIf="enmEvent.venue">{{ enmEvent.venue.address }}, {{ enmEvent.venue.city }}</span>
                            <!---->
                          </span>
                        </span>
                      </div>
  
                    </div>
                  </div>
                </div>
  
  
  
  
  
  
            </div>
          </ng-template>
        </ng-container>
      </p-dataView>    
    </div>
  </div>  
  <div *ngIf="(filteredEnmEventList$ | async)?.length !== 0" class="disclaimer-section">
    <div *ngIf="!(user$ | async)?.plus" class="disclaimer d-flex justify-content-center align-items-center">* Events are listed for the current week only</div>
    <div class="disclaimer d-flex justify-content-center align-items-center">* Start times might vary (e.g., punk time)</div>
  </div>
  <div *ngIf="(filteredEnmEventList$ | async)?.length == 0" class="d-flex justify-content-center align-items-center text-center no-results-text" style="height: 70vh;">
    No results for "{{ (filterText$ | async)?.text }}"
    <br>
    Try filtering by another artist, venue, or city name
  </div>
</div>

