.container-sm {
    margin-bottom: 25px;
}

.date {
    text-decoration: underline;
    text-decoration-color: #7154f2 ;
}

.container-sm {
    margin-top: 25px
}

.event-card-link {
    text-decoration: none;
    color: black;
}

.card-text {
    margin-top: 0;
    margin-bottom: 8px;
}

.sticky-bottom-right {
    position: fixed; /* This makes the position relative to the viewport */
    bottom: 20px;       /* Stick to the bottom */
    right: 20px;        /* Stick to the right */
    z-index: 1000;   /* Ensure it appears above other content, adjust as needed */
}

.disclaimer-section {
    font-size: .9em;
    margin-top: 20px;
    color: rgb(162, 162, 162)
}

.disclaimer {
    margin-bottom: 5px;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
    }
    
    @keyframes custom-progress-spinner-color {
    100%,
    0% {
    stroke: #7254f3;
    }
    40% {
    stroke: #7254f3;
    }
    66% {
    stroke: #7254f3;
    }
    80%,
    90% {
    stroke: #7254f3;
    }
    }
    
    @keyframes custom-progress-spinner-dash {
    0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    }
    50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
    }
    100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
    }
}