.container-sm {
    margin-bottom: 25px;
}

.date {
    text-decoration: underline;
    text-decoration-color: #7154f2 ;
}

.container-sm {
    margin-top: 25px
}

.event-card-link {
    text-decoration: none;
    color: black;
}

.card-text {
    margin-top: 0;
    margin-bottom: 8px;
}

.sticky-bottom-right {
    position: fixed; /* This makes the position relative to the viewport */
    bottom: 20px;       /* Stick to the bottom */
    right: 20px;        /* Stick to the right */
    z-index: 1000;   /* Ensure it appears above other content, adjust as needed */
}

.event-availablity-disclaimer {
    font-size: .9em;
    margin-top: 20px;
    color: rgb(162, 162, 162)
}