<p-sidebar [(visible)]="sidebarVisible" position="right">
    <ng-template pTemplate="content">
        <p>
            Enm, the valley's premium event search service
        </p>
        <p>
            Browse upcoming events, search for events in specific cities and venues, or look up your favorite local artists to see where they perform next
        </p>
    </ng-template>
    <ng-template pTemplate="footer">
        <p *ngIf="(user$ | async)">Logged in as {{(user$ | async)?.username}}. <a href="/"(click)="onLogOut()">Log Out</a></p>
        <p *ngIf="!(user$ | async)">
            <a [routerLink]="['/login']"  href="/">Log In</a>
        </p>
        <p>Copyright @{{currentDate | date: 'y'}} All Rights Reserved</p>
    </ng-template>
</p-sidebar>
<p-button (click)="sidebarVisible = true" icon="pi pi-bars" styleClass="p-button-sm"></p-button>
