<p-sidebar [(visible)]="sidebarVisible">
    <h3>Enm</h3>
    <p>
        Welcome to Enm, the valley's premium event search service
    </p>
    <p>
        Feel free to browse upcoming events, search for events in specific cities and venues, or even look up your favorite local artists to see where they perform next
    </p>
    <p>
        We're in active development, check back in frequently to see our latest updates
    </p>
</p-sidebar>
<p-button (click)="sidebarVisible = true" icon="pi pi-bars" styleClass="p-button-sm"></p-button>
