.back-arrow {
  margin-top: 10px
}

a {
  color: #49729b;
}
a:hover {
  color: #7254f3;
}

.furthestMonth {
  color: #1a4e84
}

.wrapper {
  margin-bottom: 20px
}

:host ::ng-deep {
  .product-item {
      .product-item-content {
          border: none;
          border-radius: 3px;
          margin: .3rem;
          text-align: center;
          padding: 2rem 0;
      }
  
      .product-image {
          width: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
      }
  }
}