<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">
        <p-card header="Enm Plus" subheader="Monthly Subscription" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>Features include:</p>
                <ul>
                    <li><strong>All Access&#8482;</strong> - unlock our entire listing. Say goodbye to that dullish weekly limit</li>
                    <li><strong>Depth&#8482;</strong> - a Linktree-esque detail page for each event. Perfect for discovering the Valley's music scene</li>
                    <li><strong>Search</strong> - a searchbar allowing instant lookups by city, venue, or artist</li>
                </ul>
            <ng-template pTemplate="footer">
                Cancel any time by DMing us on Instagram, absolutely zero hassle guaranteed
            </ng-template>
        </p-card>
</div>

<div id="checkout">
    <!-- Checkout will insert the payment form here -->
</div>