<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">
    <div class="container text-center">
        <h2>Log in to Enm</h2>
        <form [formGroup]="userLoginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col"><label>Username</label></div>
            </div>
            <div class="row g-0 justify-content-center input-row">
                <div class="col-auto"><input formControlName="username" pInputText placeholder="Username" style="width: 223px;"></div>
            </div>
            <div class="row">
                <div class="col"><label>Password</label></div>
            </div>
            <div class="row g-0 justify-content-center input-row">
                <div class="col-auto"><p-password formControlName="password" [feedback]="false" placeholder="Password" [toggleMask]="true"></p-password></div>
            </div>
            <div class="row">
                <div class="col"><p-button type="submit" label="Log In" [disabled]="userLoginForm.invalid"></p-button></div>
            </div>
            <div *ngIf="logInErrorResponse$ | async">{{(logInErrorResponse$ | async)?.error?.error}}</div>
        </form>
        <p>New to Enm? <span>Create an account</span></p>
    </div>
</div>