<div class="d-flex justify-content-center align-items-center" style="height: 85vh">
    <div class="container text-center">
        <img style="width: 50px; height: 50px;" src="./../../../assets/images/ig-prof.png"/>
        <h2>Log in to Rarelygroovy</h2>
        <form [formGroup]="userLogInForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col"><label>Username</label></div>
            </div>
            <div class="row g-0 justify-content-center input-row">
                <div class="col-auto"><input formControlName="username" pInputText placeholder="Username" maxlength="20" style="width: 223px;"></div>
            </div>
            <div class="row">
                <div class="col"><label>Password</label></div>
            </div>
            <div class="row g-0 justify-content-center input-row">
                <div class="col-auto"><p-password formControlName="password" [feedback]="false" placeholder="Password" [toggleMask]="true"></p-password></div>
            </div>
            <div class="row">
                <div class="col">
                    <p-button type="submit" label="Log In" [disabled]="userLogInForm.invalid || logInButtonCooldown || (( logInProcessing$ | async) === true)">
                        <div *ngIf="logInProcessing$ | async">
                            <p-progressSpinner strokeWidth="2" fill="var(--surface-ground)" class="custom-spinner" [style]="{width: '20px', height: '12px', margin: '0px 20px 0px 0px'}"></p-progressSpinner>
                        </div>
                    </p-button>
                </div>
            </div>
        </form>
        <p>or <button class="link-button" label="create an account" (click)="navigateAndReplace()">create an account</button></p>
    </div>
</div>