<p-panel styleClass="p-m-0 p-p-0" [style]="{'background': 'inherit', 'box-shadow': 'none', 'border': 'none'}">
<div class="d-flex justify-content-center align-items-center" style="height: 85vh">

    <div class="container text-center">
        <img style="width: 50px; height: 50px; margin-bottom: 30px" src="./../../../assets/images/logo-bw.png"/>
        <h2>Create a Rarelygroovy Account</h2>
        <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col"><label>Username</label></div>
            </div>
            <div class="row g-0 justify-content-center input-row">
                <div class="col-auto">
                    <input 
                    id="username-input-create-form"
                    formControlName="username" 
                    pInputText 
                    placeholder="Username"
                    maxlength="20"
                    style="width: 223px;"
                    pattern="^[a-zA-Z0-9_]+$"
                    title="Username should only contain letters, numbers, and underscores.">
                </div>
            </div>
            <div class="row">
                <div class="col"><label>Password</label></div>
            </div>
            <div class="row g-0 justify-content-center input-row">
                <div class="col-auto"><p-password id="password-input-create-form" formControlName="password" [feedback]="false" placeholder="Password" [toggleMask]="true"></p-password></div>
            </div>
            <div class="row">
                <div class="col">
                    <p-button id="create-user-button" type="submit" label="Create Account" [disabled]="createUserForm.invalid || createUserButtonCooldown || ((createUserProcessing$ | async) === true)">
                        <div *ngIf="createUserProcessing$ | async">
                            <p-progressSpinner strokeWidth="2" fill="var(--surface-ground)" class="custom-spinner" [style]="{width: '20px', height: '12px', margin: '0px 20px 0px 0px'}"></p-progressSpinner>
                        </div>
                    </p-button>
                </div>
            </div>
        </form>
    </div>
</div>
</p-panel>