<div *ngIf=" enmEventAddFormValuesActionStream$ | async"></div>
<div *ngIf=" selectedArtists$ | async"></div>

<div class="back-arrow">
  <p-button type="button" (click)="goBack()" icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-lg p-button-text"></p-button>
</div>
<div class="submit-button">
  <p-button type="submit" (click)="onSubmit()" [disabled]="enmEventAddForm.invalid" styleClass="p-button-link">Submit Event</p-button>
</div>

<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">  
  <div class="container text-center">
      <p-scrollPanel [style]="{ width: '100%', height: '500px' }">
        <form [formGroup]="enmEventAddForm" (ngSubmit)="onSubmit()">
          <div formArrayName="artists">
            <div class="row" *ngFor="let artist of artistsArray.controls; let i = index" style="margin-bottom: 25px;">
              <label [ngClass]="{ 'artist-label': this.artistsArray.length > 1 }">Artist {{i + 1}} &nbsp;<span *ngIf="i === 0">(Listed First)</span></label>
              <div class="col">
                <p-autoComplete [formControlName]="i" [suggestions]="filteredArtistsAutoCompleteSuggestions" (completeMethod)="filterArtists($event)" field="name" [minLength]="3" placeholder="Artist {{i + 1}}" [maxlength]="50" #artistInput [forceSelection]="true"></p-autoComplete>
                <button pButton *ngIf="artistsArray.controls.length > 1" type="button" (click)="removeArtistInputField(i)" icon="pi pi-times"></button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button pButton type="button" icon="pi pi-plus" [disabled]="!canAddArtistInputField()" (click)="addArtistInputField()"></button>
              </div>
            </div>
          </div>
        </form>
      </p-scrollPanel>
  </div>
</div>