<div class="back-arrow">
  <p-button type="button" (click)="goBack()" icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-lg p-button-text"></p-button>
</div>
<div class="submit-button">
  <p-button type="submit" (click)="onSubmit()" [disabled]="enmEventAddForm.invalid" styleClass="p-button-link">Submit Event</p-button>
</div>
<div #containerRef class="container text-center">
    <p-scrollPanel [style]="{ width: '100%', height: '500px' }">
      <form [formGroup]="enmEventAddForm" (ngSubmit)="onSubmit()">
        <div formArrayName="artists">
          <div class="row" *ngFor="let artist of artistsArray.controls; let i = index">
            <label [ngClass]="{ 'artist-label': this.artistsArray.length > 1 }">Artist {{i + 1}}</label>
            <div class="col">
              <input pInputText type="text" [formControlName]="i" placeholder="Artist Name" maxlength="50" #artistInput>
              <button pButton *ngIf="artistsArray.controls.length > 1" type="button" (click)="removeArtistInputField(i)" icon="pi pi-times"></button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button pButton type="button" icon="pi pi-plus" [disabled]="!canAddArtistInputField()" (click)="addArtistInputField()"></button>
            </div>
          </div>
        </div>
      </form>
    </p-scrollPanel>
</div>

