<div class="container-fluid">
  <form [formGroup]="enmEventAddForm" (ngSubmit)="onSubmit()">
    <div formArrayName="artists">
      <div class="row" *ngFor="let artist of artistsArray.controls; let i = index">
        <label>Artist {{i + 1}}</label>
        <div class="col">
          <input pInputText type="text" [formControlName]="i" placeholder="Artist Name" maxlength="50" #artistInput>
          <button pButton *ngIf="artistsArray.controls.length > 1" type="button" (click)="removeArtistInputField(i)" icon="pi pi-times"></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button pButton type="button" [disabled]="!canAddArtistInputField()" (click)="addArtistInputField()" icon="pi pi-plus"></button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button pButton type="button" (click)="cancelForm()" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-text p-button-sm"></button>
        <button pButton type="button" (click)="goBack()" icon="pi pi-arrow-left" styleClass="p-button-secondary p-button-rounded p-button-text p-button-sm"></button>
        <button pButton type="submit" [disabled]="enmEventAddForm.invalid" icon="pi pi-check" styleClass="p-button-secondary p-button-rounded p-button-text p-button-sm"></button>
      </div>
    </div>
  </form>
</div>
