<p-toolbar *ngIf="showToolbar$ | async">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="p-toolbar-group-start">
                    <a routerLink="/"><app-logo></app-logo></a>
                    <app-sidebar class="pull-right"></app-sidebar>
                </div>
            </div>
        </div>
        <!-- (currentRoute$ | async)?.startsWith('/events?')) covers a weird instagram browser edgecase-->
        <div *ngIf="((user$ | async)?.plus) && ((currentRoute$ | async) === '/events' || (currentRoute$ | async)?.startsWith('/events?'))"  class="row">
            <div class="col-12">
                <div class="p-toolbar-group-end">
                    <div><app-enm-event-list-filter></app-enm-event-list-filter></div>
                </div>
            </div>
        </div>
        <div *ngIf="((currentRoute$ | async) === '/artist-archive' || (currentRoute$ | async)?.startsWith('/artist-archive?') || (currentRoute$ | async)?.startsWith('/iBhLq5wrrxafte4a') || (currentRoute$ | async)?.startsWith('/iBhLq5wrrxafte4a?'))"  class="row">
            <div class="col-12">
                <div class="p-toolbar-group-end">
                    <div><app-enm-event-list-filter></app-enm-event-list-filter></div>
                </div>
            </div>
        </div>
    </div>
</p-toolbar>