a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #7254f3;
}

h2 {
  color: #7b95af;
}

.datekey {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.numberOfEvents {
  font-size: 1rem; /* Set to match your body text size */
  font-weight: normal; /* Typically body text is normal weight */
  color: #043d75; /* Or whatever your body text color is */
  margin: 0;
  padding: 0;
  padding-top: 5px
  /* Add any other styles here to match your body text */
}

.artist-name {
  font-size: 1.25rem;
  line-height: 1;
}

.social-icon i {
  font-size: 1.5em; /* Increases the icon size */
  margin: 15px;
  align-items: center;
}

.disclaimer-section {
  font-size: .9em;
  margin-top: 20px;
  color: rgb(162, 162, 162)
}

.disclaimer {
  margin-bottom: 5px;
}

.social-links {
  margin-left: 5px;
}

a .note-links {
  color: red !important;
  text-decoration: none !important; /* This removes the underline */
}