<div class="container-sm text-center" style="margin: 20px 0">
  <ng-container *ngIf="count$ | async as count">
    <h2 class="datekey">
      Artist Directory
      <span class="numberOfEvents">
        Listed: {{ count }}
      </span>
    </h2>
  </ng-container>


  <div class="card">
    <p-dataView #dv [value]="(artists$ | async) ?? []">
      <ng-template let-artist pTemplate="listItem">
        <div class="col-12" style="padding: 20px 0">
          <!-- HERE'S THE VISIBLE CONTENT -->
          <ng-container *ngIf="artist.link && artist.link !== 'pending'; else noLink">
            <a href="{{artist.link}}" target="_blank" rel="noopener noreferrer">
              <span class="artist-name">{{ artist.name }}</span>&nbsp;
              <span *ngIf="(artist.location) && (artist.location != 'RGV')">
                <p-tag value="{{artist.location}}" [style]="{'font-size': '.4em', 'margin-bottom': '10px', 'position': 'relative', 'bottom': '10px', 'padding-left': '4px', 'padding-right': '4px', 'padding-top': '2px', 'padding-bottom': '2px', 'background-color': '#937fee'}"></p-tag>&nbsp;
              </span>
              <i class="pi pi-link"></i>
            </a>
            <br><br>
            <div *ngIf="artist.links" class="social-links">
              <a *ngIf="artist.links.spotify" href="{{artist.links.spotify}}" target="_blank" rel="noopener noreferrer" class="social-icon">
                <i class="fab fa-spotify"></i>
              </a>
              <a *ngIf="artist.links.apple" href="{{artist.links.apple}}" target="_blank" rel="noopener noreferrer" class="social-icon">
                <i class="fab fa-apple"></i>
              </a>
              <a *ngIf="artist.links.bandcamp" href="{{artist.links.bandcamp}}" target="_blank" rel="noopener noreferrer" class="social-icon">
                <i class="fab fa-bandcamp"></i>
              </a>
              <a *ngIf="artist.links.youtube" href="{{artist.links.youtube}}" target="_blank" rel="noopener noreferrer" class="social-icon">
                <i class="fab fa-youtube"></i>
              </a>
              <a *ngIf="artist.links.facebook" href="{{artist.links.facebook}}" target="_blank" rel="noopener noreferrer" class="social-icon">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
          </ng-container>
          <ng-template #noLink>
            <span style="color: gray;">
              {{ artist.name }}&nbsp;
              <span *ngIf="(artist.location) && (artist.location != 'RGV')">
                <p-tag value="{{artist.location}}" [style]="{'font-size': '.4em', 'margin-bottom': '10px', 'position': 'relative', 'bottom': '10px', 'padding-left': '4px', 'padding-right': '4px', 'padding-top': '2px', 'padding-bottom': '2px', 'background-color': '#937fee'}"></p-tag>&nbsp;
              </span>
            </span>
          </ng-template>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>


