<div class="container-sm" style="padding: 5px 0px ">
    <p-panel header="Terms of Service (TOS) of Rarelygroovy">
        <p>Last Updated: Tuesday, December 26, 11:00pm</p>
        <p>Welcome to Rarelygroovy! By accessing our website or utilizing our services, you agree to be bound by the following terms and conditions ("Terms of Service," "TOS"). Please read them carefully.</p>
        
        <div>
            <h2>1. Acceptance of Terms</h2>
            <p>By accessing Rarelygroovy’s service, which provides listings of local music events in the Rio Grande Valley, you confirm that you have read, understood, and agreed to be bound by these TOS. If you do not agree with any part of these terms, please do not use our services.</p>
        </div>

        <div>
            <h2>2. Changes to Terms</h2>
            <p>Rarelygroovy reserves the right, at our discretion, to modify these TOS at any time. Any changes will be effective immediately upon posting. Your continued use of the service after changes signifies your acceptance of the revised terms.</p>
        </div>
        
        <div>
            <h2>3. Use of Service</h2>
            <p>
                Rarelygroovy provides listings and information about local music events in the Rio Grande Valley. Our service is available for both personal and commercial use. You are welcome to use our service for viewing, sharing, and promoting local music events, including for commercial purposes such as promoting or marketing events on your own platform, provided that such use is lawful and does not infringe upon the rights of others.
            </p>
            <p>While we encourage the broad use of our service, we prohibit the following:</p>
            <ul>
                <li>Unauthorized data mining, scraping, or extraction.</li>
                <li>Activities that harm our service, other users, event organizers, or any third party.</li>
                <li>Use that is illegal or in violation of any local, state, or federal laws.</li>
                <li>Reproducing, distributing, or creating derivative works of the content provided by Rarelygroovy without express permission.</li>
                <li>By using Rarelygroovy, you agree to abide by these terms and to use the service responsibly and ethically</li>
            </ul>
        </div>
        
        <div>
            <h2>4. User Accounts</h2>
            <p>To access certain features of our service, you may need to create an account. You agree to provide accurate and complete information and keep this information up-to-date. You are responsible for safeguarding your account and are liable for activities conducted through your account.</p>
        </div>
        
        <div>
            <h2>5. Privacy Policy</h2>
            <p>Your use of our services is also governed by our Privacy Policy, which is incorporated into these TOS by reference.</p>
        </div>
        
        <div>
            <h2>6. Intellectual Property</h2>
            <p>All content included on our service, such as text, graphics, logos, and software, is the property of Rarelygroovy and protected by intellectual property laws.</p>
        </div>
        
        <div>
            <h2>7. Limitation of Liability</h2>
            <p>Rarelygroovy provides a platform for listing and information about local music events in the Rio Grande Valley. While we try our best to keep the information up-to-date and accurate, event details are subject to sudden changes that are often controlled by third parties such as event organizers or venues.</p>
            <p>For this reason, we do not guarantee the accuracy, completeness, or timeliness of the information presented on Rarelygroovy and will not be liable for any inaccuracy, error, or delay in the content, or for any actions taken in reliance thereon. Users are encouraged to confirm the event information with the official event organizer or venue.</p>
            <p>Also, Rarelygroovy will not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of your access to or use of our service, or any other claim related in any way to your use of the service, including, but not limited to, any errors or omissions in any content, or any loss or damage of any kind incurred as a result of the use of the service or any content posted, transmitted, or otherwise made available via the service, even if advised of their possibility.</p>
        </div>
        
        <div>
            <h2>8. Termination</h2>
            <p>We may terminate or suspend your access to our service immediately, without prior notice or liability, for any reason, including breach of these TOS.</p>
        </div>
        
        <div>
            <h2>9. Governing Law</h2>
            <p>These terms shall be governed by the laws of the United States without regard to its conflict of law provisions.</p>
        </div>
        
        <div>
            <h2>10. Feedback and Contact Information</h2>
            <p>Any feedback you provide at this site shall be deemed to be non-confidential. Rarelygroovy shall be free to use such information on an unrestricted basis. For any questions about these TOS, please contact us at rarelygroovygmail.com.</p>
        </div>
        
        <div>
            <h2>11. Subscription Services</h2>
            <p>If you are subscribing to our paid service, Rarelygroovy+, additional terms and conditions apply:</p>
            <ul>
                <li><strong>Billing:</strong> Subscriptions are billed on a monthly basis. We will charge the subscription fee using the payment method you provide at checkout.</li>
                <li><strong>Renewal:</strong> Subscriptions automatically renew at the end of each billing cycle unless canceled. We will notify you of any changes to your subscription rate in advance.</li>
                <li><strong>Cancellation:</strong> You may cancel your Rarelygroovy+ subscription at any time. Contact us at on <a href="https://instagram.com/rarelygroovy">Instagram</a> or shoot us an email at rarelygroovy&#64;gmail.com. The cancellation will take effect at the end of the current billing period. We're actively working on </li>
                <li><strong>Refunds:</strong> We do not offer refunds for partial subscription periods or unused Rarelygroovy+ content.</li>
                <li><strong>Changes:</strong> We may modify subscription terms, pricing, or content with notice. Continued use of Rarelygroovy+ after changes constitutes acceptance of the new terms.</li>
            </ul>
            <p>Please contact us with any questions or for assistance with your subscription! We're here to help and can usually get back to you within the buisiness day</p>
        </div>
        
        <div>
            <h2>12. Disclaimer</h2>
            <p>Our service is provided "as is," and Rarelygroovy makes no warranties of any kind, expressed or implied, as to the operation of the service or the information, content, or materials included.</p>
        </div>
    </p-panel>
</div>
