<div class="container-fluid">
    <form [formGroup]="timeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <label>Start Time</label>
        <div class="col">
          <input type="number" formControlName="startTime">
        </div>
      </div>
      <div class="row">
        <label>End Time</label>
        <div class="col">
          <input type="number" formControlName="endTime">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" (click)="cancelForm()">Cancel</button>
          <button type="button" (click)="goBack()">Back</button>
          <button type="submit" [disabled]="timeForm.invalid">Next</button>
        </div>
      </div>
    </form>
</div>