
<div *ngIf="showEnmEventFilter$ | async">
    <form [formGroup]="enmEventListFilterForm" (ngSubmit)="filterResults()">
        <div class="input-clearable">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input #filterInput pInputText formControlName="filter" type="text"  placeholder="Filter By Artist, Venue, Promoter, or City" maxlength="30" name="search" role="search" autocomplete="off"/>
            </span>
            <button pButton type="button" icon="pi pi-times" class="clear-btn" (click)="clearFilter()" styleClass="p-button-sm p-button-rounded p-button-text" *ngIf="enmEventListFilterForm.controls.filter.value"></button>
        </div>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 10px;">
            <span style="margin-right: 25px;"><p-toggleButton formControlName="checked" [onLabel]="filter" [offLabel]="filter" [style]="{ width: '10em', height: '2em' }"></p-toggleButton></span>
            <span style="margin-right: 5px;"><p-toggleButton formControlName="touring" [onLabel]="touring" [offLabel]="touring" [style]="{ width: '10em', height: '2em' }"></p-toggleButton></span>
        </div>    
    </form>
</div>

<div *ngIf="showArtistFilter$ | async">
    <form [formGroup]="artistDirectoryFilterForm" (ngSubmit)="filterArtistDirectoryResults()">
        <div class="input-clearable">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input #filterInput pInputText formControlName="filter" type="text"  placeholder="Filter Artists" maxlength="30" name="search" role="search" autocomplete="off"/>
            </span>
            <button pButton type="button" icon="pi pi-times" class="clear-btn" (click)="clearFilter()" styleClass="p-button-sm p-button-rounded p-button-text" *ngIf="enmEventListFilterForm.controls.filter.value"></button>
        </div>
    </form>
</div>
