input {
    max-width: none;
    width: 95vw;
}

.input-clearable {
    position: relative;
    display: inline-block;
}

.clear-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #7b95af;
}

.test {
    background: none;
    border: none;
    color: #7b95af;
    width: 25px;
    height: 10px;
}
.test:hover {
    background: none;
    border: none;
    color: #566472;
}

.clear-btn:hover {
    background: none;
    border: none;
    color: #566472;
}

@media screen and (min-width: 576px) {
    input {
        max-width: 1000px;
    }
}

// :host ::ng-deep {    
//     .p-scroller-viewport {
//         flex: none;
//     }

//     .p-horizontal-scroll {
//         .p-scroller-content {
//             display: flex;
//             flex-direction: row;
//         }
//     }
// }

.invisible {
    visibility: hidden;
}