<div class="back-arrow">
  <p-button type="button" (click)="goBack()" icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-lg p-button-text"></p-button>
</div>

<div *ngIf="isUpcomingSubscriptionRenewalDateLoading$ | async" class="d-flex justify-content-center align-items-center" style="height: 65vh;">
  <p-progressSpinner styleClass= "w-4rem h-4rem" strokeWidth="2" fill="var(--surface-ground)" class="custom-spinner"></p-progressSpinner>
</div>

<div *ngIf="!(isUpcomingSubscriptionRenewalDateLoading$ | async)" class="d-flex justify-content-center align-items-center" style="height: 65vh;">
  <div class="d-flex justify-content-center align-items-center" style="margin-top: 20px">
    <div class="container">
      <div class="row">
        <div class="col">
          <p-panel header="General">
            <div *ngIf="(currentUser$ | async) as currentUser">
              <p><b>Username:</b> {{ currentUser.username }}</p>
              <p><b>Account Type:</b><span *ngIf="currentUser.plus"> Rarelygroovy+</span><span *ngIf="!currentUser.plus"> Free</span></p>
            </div>

          </p-panel>
        </div>
      </div>
      <div class="row" style="margin-top: 10px;" *ngIf="( currentUser$ | async)?.plus">
        <div class="col">
          <p-panel header="Rarelygroovy+">
            <div *ngIf="(nextInvoice$ | async) as nextInvoice">
              <!-- Check if nextInvoice object is not null -->
              <p *ngIf="nextInvoice"><b>Subscription Renews:</b> {{ nextInvoice | date: 'medium' }}</p>
              <p *ngIf="!nextInvoice">No upcoming invoice found.</p>
              <!-- <p-button (click)="cancelSubscription()">Unsubscribe From Rarelygroovy+</p-button> -->
            </div>
            <p-button (click)="cancelSubscription()" label="Unsubscribe From Rarelygroovy+" [disabled]="(( isSubscriptionCanceling$ | async) === true)">
              <div *ngIf="isSubscriptionCanceling$ | async">
                <p-progressSpinner strokeWidth="2" fill="var(--surface-ground)" class="custom-spinner" [style]="{width: '20px', height: '12px', margin: '0px 20px 0px 0px'}"></p-progressSpinner>
              </div>
            </p-button>
          </p-panel>
        </div>
      </div>
    </div>



  </div>
</div>
