<div *ngIf="selectedBlog$ | async as selectedBlog" class="container-sm d-flex flex-column justify-content-center align-items-center" style="margin-top: 10px">
    <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
        <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                <h2>{{ selectedBlog.title }}</h2>
                <p>{{ selectedBlog.date | date:'medium' }}</p>
                <p><strong>Author:</strong> {{ selectedBlog.author }}</p>
                <div [innerHTML]="selectedBlog.body | blogifyBody"></div>

            </div>
        </div>
    </div>
</div>
