<div class="container-fluid">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <div class="row"><label>Event Location</label>
            <div class="col"><input pInputText type="text" formControlName="location"></div>
        </div>
        <div class="row"><label>Address</label>
            <div class="col"><input pInputText type="text" formControlName="address"></div>
        </div>
        <div class="row"><label>City</label>
            <div class="col"><input pInputText type="text" formControlName="city"></div>
        </div>
        <div class="row"><label>State</label>
            <div class="col"><input pInputText type="text" formControlName="state"></div>
        </div>
        <div class="row"><label>Event Location (Autocomplete Test)</label>
            <p-autoComplete formControlName="test" [virtualScroll]="true" [suggestions]="filteredVenues" (completeMethod)="filterVenue($event)" field="name"></p-autoComplete>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-inputgroup">
                    <button pButton type="button" (click)="cancelForm()" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-text p-button-sm"></button>
                    <button pButton type="submit" [disabled]="addressForm.invalid" icon="pi pi-arrow-right" styleClass="p-button-secondary p-button-rounded p-button-text p-button-sm"></button>
                </div>
            </div>
        </div>
    </form>
</div>

