.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures it covers the full viewport height */
}

label {
    margin-right: 40px;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* prevent potential scroll */
}