<div class="container-fluid">
    <form [formGroup]="enmEventAddForm" (ngSubmit)="onSubmit()">
        <div class="row"><label>Venue (Autocomplete Test)</label>
            <p-autoComplete formControlName="venue" [virtualScroll]="true" [suggestions]="filteredVenues" (completeMethod)="filterVenue($event)" field="name"></p-autoComplete>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-inputgroup">
                    <button pButton type="button" (click)="cancelForm()" icon="pi pi-times" styleClass="p-button-secondary p-button-rounded p-button-text p-button-sm"></button>
                    <button pButton type="submit" [disabled]="enmEventAddForm.invalid" icon="pi pi-arrow-right" styleClass="p-button-secondary p-button-rounded p-button-text p-button-sm"></button>
                </div>
            </div>
        </div>
    </form>
</div>

