<div class="x">
    <p-button type="button" (click)="cancelForm()" icon="pi pi-times" styleClass="p-button-rounded p-button-lg p-button-text"></p-button>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container text-center">
        <form [formGroup]="enmEventAddForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <label>Venue</label>
                </div>
            </div>
            <div class="row g-0 justify-content-center">
                <div class="col-auto">
                    <p-autoComplete formControlName="venue" [suggestions]="filteredVenues" (completeMethod)="filterVenue($event)" [forceSelection]="true" field="name" [minLength]="3">
                        <ng-template let-venue pTemplate="item">
                            <div *ngIf="!venue.isCustomAdd">
                              {{ venue.name }}
                            </div>
                            <div *ngIf="venue.isCustomAdd">
                                <p-button (click)="addVenue()" styleClass="p-button-link"><i class="pi pi-plus"></i>&nbsp;&nbsp;Add New Venue</p-button>
                            </div>
                          </ng-template>
                    </p-autoComplete>
                </div>
                <div class="col-auto">
                    <button class="arrow" pButton type="submit" [disabled]="enmEventAddForm.invalid" icon="pi pi-arrow-right" styleClass="p-button-secondary p-button-rounded p-button-text p-button-sm"></button>
                </div>
            </div>
        </form>
    </div>
</div>